calendar.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="calendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="round" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="match" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="date"/>
                    <xs:element type="xs:string" name="link"/>
                    <xs:element type="xs:string" name="teams"/>
                    <xs:element type="xs:string" name="logoTeam1"/>
                    <xs:element type="xs:string" name="logoTeam2"/>
                    <xs:element type="xs:string" name="score"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>