eventDetail.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Team" maxOccurs="unbounded" minOccurs="0">
                    <xs:sequence>
                        <xs:element type="xs:string" name="name"/>
                        <xs:element type="xs:string" name="image"/>
                        <xs:element type="xs:string" name="link"/>
                    </xs:sequence>
                </xs:complexType>
    <xs:element name="eventDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="eventDetail" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="link"/>
                            <xs:element name="videos">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                        <xs:element name="video">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="link"/>
                                                    <xs:element type="xs:string" name="kind"/>
                                                    <xs:element type="xs:string" name="bitRate"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="team1" type="Team">
                            </xs:element>
                            <xs:element name="team2" type="Team">
                            </xs:element>
                            <xs:element type="xs:string" name="additionInfo1"/>
                            <xs:element type="xs:string" name="additionInfo2"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>